<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>About</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style>
        /* Split the screen in half */
        body {
            padding-left: 25px;
        }

        body{color:#444;font:100%/1.4 sans-serif;}

     </style>
</head>

<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
{#        <a class="navbar-brand" href="#">Fixed navbar</a>#}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
{#            <li class="nav-item active">#}
{#              <a class="nav-link" href="{% url 'register_type1' %}">Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_type1' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_type1' %}">Participation Info</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
<br/>
<br/>

<body>
<p align="center"><strong>BITS Pilani, K. K. Birla Goa Campus</strong></p>
<br>

<p align="center"><strong>Participant Information Document</strong></p>
<br>
<p><strong>Experiment 1</strong></p>
<br>
<strong>1. Study Title:</strong> Classification of artificial visual stimuli
<br>
<br>
<strong>2. Invitation Paragraph:</strong> You are being invited to take part in a research study. Before you decide, it is important for you to understand why the research is being done and what it will involve. Please take time to read the following information carefully. You can take time to decide whether or not you wish to take part in this study.
<br>
<br>
<strong>3. What is the purpose of this study?</strong> We are conducting this study to understand different human strategies in classification of artificial visual stimuli.
<br>
<br>
<strong>4. Why have I been chosen?</strong> We are conducting this study on adult humans within the age range of 18 to 40 years. So, we invited you for participation.
<br>
<br>
<strong>5. Do I have to take part?</strong> Taking part in the research is entirely voluntary. It is up to you to decide whether or not to take part.
<br>
<br>
<strong>6. What will happen to me if I take part?</strong>  If you decide to take part, you will still be free to withdraw at any time without giving a reason. The duration of the experimental task is about 15 minutes.
<br>
<br>
<strong>7. What do I have to do?</strong> The instruction will be displayed to you as you navigate the URL shared with you. Please read each instruction carefully. You will have no physical or psychological discomfort during the study.
<br>
<br>
<strong>8. What is the procedure that is being tested?</strong> In this study, you will have to categorize objects shown on the computer screen into two categories – A and B. You can choose any strategy that you feel is natural and intuitive.
<br>
<br>
<strong>9. What are the interventions involved in the study?</strong> There are no interventions involved in the study.
<br>
<br>
<strong>10. What are the likely side effects of taking part in the study:</strong> There are no side effects to participation in the experiment.
<br>
<br>
<strong>11. What are the possible disadvantages and risks of taking part:</strong> There are no risks
involved in participating in this experiment.
<br>
<br>
<strong>12. What are the possible benefits of taking part?</strong> Your participation will help us understand human categorization behaviour, and help us advance our research in this area.
<br>
<br>
<strong>13. What if something goes wrong?</strong>  You are allowed to take rest as you want during the experiment. You may also opt to abandon the experiment whenever you like.
<br>
<br>
<strong>14. Will my taking part in this study be kept confidential?</strong> All information that you provide to us will be kept confidential.
<br>
<br>
<strong>15. What will happen to the results of the research study?</strong> Your data will be used only
for scientific research purpose. Our laboratory conserves the right to publish or present data
collected from participants without disclosure of their identity.
<br>
<br>
<strong>16. Contact for further information:</strong> Thank you for your participation. You can contact following people for further information.
<br>
<br>
<br>
<br>


<strong>Co-Investigator:</strong> Aditya Manish Kapoor
<br>
<strong>e-mail:</strong> f20170963@goa.bits-pilani.ac.in
<br>
<br>

<strong>Principal Investigator:</strong> Sujith Thomas
<br>
<strong>e-mail:</strong> sujitht@goa.bits-pilani.ac.in
<br>
<strong>Telephone:</strong> 0832-2580-226
<br>
<br>
<br>

</body>
</html>
